.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.label {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.controls {
  display: flex;
  align-items: center;
  gap: 20px;
}

.error {
  color: red;
}

.formatButton {
  padding: 7px 10px;
  background-color: var(--button-background);
  color: var(--text-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.formatButton:hover {
  background-color: var(--button-background-hover);
}

.editor {
  width: 100%;
  min-height: 150px;
  background-color: var(--background-color-intense);
  color: var(--text-color);
  border: 1px solid var(--border-color);
  padding: 10px;
  border-radius: 5px;
}
