.locale {
  cursor: pointer;
  color: white;
}

.selected {
  text-shadow:
    0 0 5px #ffffff,
    0 0 10px #ffffff,
    0 0 15px #ffffff,
    0 0 20px #00ffff,
    0 0 30px #00ffff,
    0 0 40px #00ffff,
    0 0 50px #00ffff;
}
