:root {
  --text-color: #f0eaea;
  --background-color: #242424;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  margin: 0;
  color: var(--text-color);
  background-color: var(--background-color);
}

.main {
  flex-grow: 1;
}
