.container {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  width: 100%;
}

.label {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.textarea {
  width: 100%;
  min-height: 150px;
  background-color: var(--background-color-intense);
  color: var(--text-color);
  border: 1px solid var(--border-color);
  padding: 10px;
  border-radius: 5px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
  resize: vertical;
}

.textarea::placeholder {
  color: var(--placeholder-color);
}

.textarea:focus {
  outline: none;
  border-color: #007acc;
}
